<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control</title>
    <link rel="shortcut icon" href="/photo/H.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
    <link rel="stylesheet" href="/css/reglogres.css">
    <link rel="stylesheet" href="/navbar.css">


</head>
<body>
  <%- include('inc/adminNavbar'); %>
  <div style="margin-top: 120px !important;" class="row mr-0 ">
    <div class="col-md-6 m-auto">
      

      <div class="card card-body myborder">
        <h1 class="text-center mb-3">
       Halı Saha Onay
        </h1>
        <%- include('partials/messages'); %>
          
        <form action="user" method="POST">
          <div class="form-group">
            <label for="name">İsim</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="İsim Giriniz"
              value= <%=userm.name %>
              disabled="disabled"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email Giriniz"
              value= <%=userm.email %>
              disabled="disabled"
            />
          </div>
          <div class="form-group">
            <label for="name">Role :</label><span style="background-color:red; text-transform: capitalize;padding: 5px; color: white;"><%=userm.role%></span>
            <select name="role" class="form-select" aria-label="Default select example">
                <option value="user">User</option>
                <option value="manager">Manager</option>
              
              </select>
            </div>
          <div class="form-group">
            <label for="name">Status</label> 
            <select class="form-select" aria-label="Default select example">
                <option value="Active">Active</option>
                <option value="Pending">Pending</option>
              
              </select>
          </div>
         
          
          
            <button type="submit" class="arabtn btn-block">
              Onayla
            </button>
          
          
        </form>
       
      </div>
    </div>
  </div>
  

   





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>